__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
.eggs/
lib/
lib64/
parts/
sdist
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pot
*.mo
*.model
*.db
*.sqlite3
./__pycache__/
./.pytest_cache/
*.pdf
*.docx
test.py
rapport*